body {
  background: #111;
  display: flex;
  justify-content: center;
  font-family: Arial;
}

.app {
  width: 360px;
  height: 640px;
  background: #1e1e2f;
  color: white;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.screen {
  display: none;
  padding: 30px;
}

.active {
  display: block;
}

.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #2b2b40;
}

.nav button {
  flex: 1;
  padding: 15px;
  background: none;
  border: none;
  color: white;
}